<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer Vision Classification App</title>
</head>
<body>
    <h1>Classification app for dogs/cats images</h1>
    <form action="{{ url_for('index') }}" method="post" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="image">
        <button type="submit">Check</button>
    </form>
    <div>
        {% if context %}
        <p>{{ context.file_save_path }}</p>
        <div style="width: 80vw; margin: auto;">
            <img src="{{ context.file_path }}" alt="uploaded_image" style="width: 100%;">
        </div>
        <h2>Your image is the image of a {{ context.prediction }}</h2>
        {% endif %}
    </div>
</body>
</html>